<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        h4 {
            font-family: Arial;
        }
        
        p {
            margin-left: 40px;
            margin-right: 40px;
            font-family: Arial;
            text-align: justify;
        }
        
        .subtitulo {
            margin-top: 30px;
            margin-left: 40px;
        }
        
        .nombre {
            margin-left: 40px;
        }
    </style>

</head>

<body>

    <center>
        <h4>CONTRATO DE SUSCRIPCIÓN AUTODENARBOX</h4>
    </center>

    <h4 class="subtitulo">Suscripción AutodenarBox</h4>
    <h4 class="nombre">Señor(a):</h4>

    <h1>Members</h1>

    <ul>
        {% for n in nombres %}
            <li>{{ n }}</li>
        {% endfor %}
    </ul>

    <h3>{{nombres[0]}}</h3>


</body>

</html>