{% extends 'base.html.twig' %}

{% block title %}Hello Send Email!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/backend-corporacion/templates/email/index.html.twig'|file_link(0) }}">templates/email/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
